.fundoPesquisa{
    background-color: rgb(238, 255, 0);
    height: 6vh;
    text-align: center;
    line-height: 5vh;
    border-style:ridge;
    
}
.navegacaobarra{
    background-color: rgb(238, 255, 0);
    height: 6vh;
    text-align: center;
    line-height: 6vh
    
}
.opcaobarra{
    margin-left: 1.4vw;
    
}
.opcaobarra:hover{
    padding: 0.5%;
    transition-duration: 0.55s;
    background-color:gainsboro;
}
.conteudo{
    background-color:darkgray ;
    height: auto;
    text-align: center;
    margin-top: 0;
    height: 80vh;
}
.primeiraoferta{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
    margin-left: 30vh;
}
.segundaoferta{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
    margin-right: 10vh;
}
.terceiraoferta{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
    margin-left: 1vh;
}
.quartaoferta{
    height: 15vh;
    width: 20vw;
    float: left;
    text-align: left;
    margin-left: 1vh;
}
.produto{
    background-color: white;
    height: 224px;
    width: 25vh;
    float: left;
    margin-left: 18vw;
    margin-right: 3.9vw;
    overflow:hidden;
}
.produto:hover{
    transition-duration: 0.5s;
    transition-timing-function: linear;
    height: 330px;
}